@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
/*********colors**********/
/*************background******/
/*********responsive***********/
/******************************************************************
                       general style
*******************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", "sans-serif";
  font-size: 16px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

#menu-restaurant section .menu__item, .button, #restaurants figure, #operations ul li, header {
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.28);
}

#menu-restaurant section .menu__item--description p, #menu-restaurant section .menu__item--description h4 {
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  display: block;
}

header {
  position: relative;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header__icon {
  width: fit-content;
}
header .header__icon a {
  color: #000;
}
header .header__logo {
  width: 100%;
}
header .header__logo img {
  width: 180px;
  height: 40px;
  display: block;
  margin: 15px auto;
}

#homepage .header__icon i {
  display: none;
}

/*********colors**********/
/*************background******/
/*********responsive***********/
.location {
  background-color: #EAEAEA;
}

#slider {
  padding: 60px 0px;
  text-align: center;
  background-color: #f6f6f6;
}
#slider h2 {
  font-family: roboto;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}
#slider p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 60px;
  color: #7e7e7e;
}

#operations {
  padding: 60px 0px;
}
#operations h2 {
  margin-bottom: 20px;
}
#operations ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  counter-reset: liste;
}
#operations ul li {
  width: 100%;
  padding: 30px;
  background-color: #f6f6f6;
  border-radius: 30px;
  margin: 15px 0;
  position: relative;
}
#operations ul li::before {
  counter-increment: liste;
  content: counter(liste);
  border-radius: 50%;
  padding: 5px 10px;
  color: #fff;
  background-color: #9356DC;
  position: absolute;
  top: 25px;
  left: -12px;
}
#operations ul li i {
  margin: 0 15px;
  font-size: 20px;
  color: #7e7e7e;
}
#operations ul li span {
  font-weight: 700;
  font-size: 18px;
}
#operations ul li:hover {
  background-color: #f2eafb;
}
#operations ul li:hover i {
  color: #9356DC !important;
}
@media (min-width: 996px) {
  #operations ul li {
    width: 480px;
  }
}
@media (min-width: 996px) {
  #operations ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
}

#restaurants {
  padding: 60px 0px;
  background-color: #f6f6f6;
}
#restaurants .restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #restaurants .restaurant-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
#restaurants h2 {
  margin-bottom: 30px;
}
#restaurants a {
  text-decoration: none;
  color: #000;
  width: 100%;
}
#restaurants a:hover {
  color: #000;
}
@media (min-width: 768px) {
  #restaurants a {
    width: 47%;
  }
}
#restaurants figure {
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}
#restaurants figure pre {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #278870;
  padding: 7px 10px;
  background: #99E2D0;
  font-family: "Roboto";
  border-radius: 2px;
  font-weight: 700;
}
#restaurants figure img {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#restaurants figure figcaption {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  z-index: 100;
  animation: opacity-load 3s ease-in-out forwards;
}
.loader i {
  font-size: 50px;
  color: #9356DC;
}
.loader h2 {
  font-family: roboto;
  font-size: 22px;
  font-weight: 700;
  color: #9356DC;
}

@keyframes opacity-load {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
form {
  margin: 0 auto;
  width: fit-content;
  padding: 20px 10px 20px 80px;
  color: #353535;
}
form label {
  margin-right: 10px;
}
form #location__select {
  font-size: 18px;
  font-weight: 700;
  border: none;
  appearance: none;
  width: fit-content;
  color: #353535;
  background-color: transparent;
}

.button {
  padding: 17px 20px;
  border-radius: 50px;
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}
.button:hover {
  opacity: 0.8;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.4);
}

.fa-stack {
  display: block;
}
.fa-stack .fa-solid {
  background: linear-gradient(190deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  display: block;
  transition: opacity 1s ease-out;
}
.fa-stack .fa-solid:hover {
  opacity: 1;
}

#menu-restaurant section .menu__item, header, #operations ul li, #restaurants figure, .button {
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.28);
}

#menu-restaurant section .menu__item--description p, #menu-restaurant section .menu__item--description h4 {
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  display: block;
}

/*********colors**********/
/*************background******/
/*********responsive***********/
.slider-menu img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

#menu-restaurant {
  background-color: #eaeaea;
  padding: 30px 0;
  margin-top: -60px;
  z-index: 10;
  position: relative;
  border-radius: 40px 40px 0 0;
}
#menu-restaurant .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#menu-restaurant .title-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#menu-restaurant .title-menu h1 {
  font-family: shrikhand;
  font-weight: 500;
}
#menu-restaurant .menus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
@media (min-width: 996px) {
  #menu-restaurant .menus-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
#menu-restaurant section {
  margin: 15px 0;
  width: 100%;
}
#menu-restaurant section .menu__item:nth-child(1) {
  animation: slideUp 1s forwards ease-in;
  animation-delay: 0.25s;
}
#menu-restaurant section .menu__item:nth-child(2) {
  animation: slideUp 1s forwards ease-in;
  animation-delay: 0.5s;
}
#menu-restaurant section .menu__item:nth-child(3) {
  animation: slideUp 1s forwards ease-in;
  animation-delay: 0.75s;
}
#menu-restaurant section .menu__item:nth-child(4) {
  animation: slideUp 1s forwards ease-in;
  animation-delay: 1s;
}
#menu-restaurant section .menu__item:nth-child(5) {
  animation: slideUp 1s forwards ease-in;
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#menu-restaurant section h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 7px;
}
#menu-restaurant section hr {
  width: 50px;
  height: 5px;
  background-color: #99E2D0;
  border: none;
  margin-bottom: 20px;
}
#menu-restaurant section .menu {
  margin-bottom: 50px;
}
#menu-restaurant section .menu__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}
#menu-restaurant section .menu__item--description {
  overflow: hidden;
  padding: 10px 10px 10px 20px;
}
#menu-restaurant section .menu__item--description h4 {
  margin-bottom: 15px;
}
#menu-restaurant section .menu__item--price {
  display: flex;
}
#menu-restaurant section .menu__item--price span {
  display: block;
  align-self: flex-end;
  font-weight: 700;
  padding: 10px 20px;
}
#menu-restaurant section .menu__item--selected {
  width: 70px;
  background-color: #99E2D0;
  align-self: stretch;
  padding: 25px;
  margin-right: -75px;
  transition: margin 0.5s ease-in-out;
}
#menu-restaurant section .menu__item--selected i {
  background-color: #fff;
  padding: 6px;
  border-radius: 50%;
  margin: auto;
  color: #99E2D0;
}
#menu-restaurant section .menu__item:hover .menu__item--price > .menu__item--selected {
  margin-right: 0;
}
#menu-restaurant section .menu__item:hover .menu__item--price > .menu__item--selected i {
  transform: rotate(360deg);
  transition-delay: 2s;
  transition: transform 0.5s ease-in;
}
@media (min-width: 996px) {
  #menu-restaurant section {
    width: 31%;
  }
}
#menu-restaurant .button {
  padding: 20px 60px;
}

/*********colors**********/
/*************background******/
/*********responsive***********/
footer {
  padding: 60px 0;
  background-color: #353535;
}
footer svg {
  margin-bottom: 15px;
  width: 120px;
}
footer svg path {
  fill: #fff !important;
}
footer .dif-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 15px;
}
@media (min-width: 996px) {
  footer .dif-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
  }
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a span {
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
